img.logo {
    display: block;
    width: 40px;
}
img.footer {
    display: block;
    width: 50px;
}
img.cmp {
    display: block;
    width: 100px;
}
img.about-me
{
	float: right;
    padding-left: 20px;
	width: 150px;
	height: 150px;
}
img.about-me.two
{
	float: left;
    padding-right: 20px;
    padding-left: 0px;
}
p {
    font-family: "Golos Text";
}
td {
    padding: 5px;
}
nav { 
    background-color: black;
    margin: -10px;
    padding: 1px;
}
header {
    text-align: center;
    height: 350px;
    background-image: url(../images/marcus.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    margin-left: -20px;
    margin-right: -10px;
    padding-left: 250px;
    padding-top: 100px;
}
.header {
    padding-top: 30px;
    padding-left: 400px;
    font-family: "Jura";
}
.header1 {
    padding-left: 400px;
    font-family: "Jura";
}
.nav-flex
{
 display: flex;
 flex-direction: row;
 align-items: center;
 flex-wrap: nowrap;
 padding-left: 80px;
}
.nav-flex-item
{
list-style-type: none;
margin-right: 30px;
margin-left: 30px;
font-family: "Jura";
}
.nav-flex-item.logo 
{
    margin-left: -50px;
    margin-right: 700px;
}
.nav-flex-item.cp 
{
    margin-left: 870px;
    font-family: "Jura";
    font-size: 14px;
}
.nav-flex-item.table
{
    margin-left: -70px;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
.layer {
    padding: 5px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: justify;
}
.black {
    background-color: black;
    padding-bottom: 20px;
    margin-right: -10px;
    margin-left: -20px;
    border-left: 1rem solid;
}
.font {
    font-family: "Jura";
}
.white {
    color: #FFFFFF;
    font-family: "Jura";
}
table {
    text-align: center;
    font-family: "Jura";
    margin: auto;
 }
 .comp-table {
    padding-left: 20px;
 }
 td {
    color: #fff;
    border-left: 8rem solid black;
    border-right: 8rem solid black;
 }
 td.cmp {
    border-left: 8rem solid black;
    border-right: 8rem solid black;
 }
 table.summary {
    margin-top: 40px;
	border-collapse: collapse;
	color: #201f28;
	border: 1px solid gray;
	width: 100%;
 }
 td.summary {
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
	border: 1px solid gray;
    font-family: "Golos Text";
    color: black;
 }
 td.summary.third {
    text-align: left;
 }
 th.summary {
    text-align: center;
    color: white;
	background: black;
	padding: 10px;
 }
 tr.summary:nth-child(odd) 
{
	background: #daedff;
}
.table-contacts
{
	margin-top: 0px;
	border-collapse: separate;
	border-spacing: 30px;
	color: rgb(255, 255, 255);
	border: none;
	width: 100%;
}
.td-contacts
{
	text-align: center;
	padding: 10px;
	border: 2px solid black;
	border-radius: 12px;
	background: black;
}
.td-contacts:nth-child(odd) 
{
	width: 33%;
}

.td-contacts:nth-child(even) 
{
	width: 33%;
}
 .services {
    height: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: disc;
 }
 .btn {
    padding: 0.5em 1.5em;
    background-color: transparent;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white; 
    border: 2px solid white;
    border-radius: 0.4em; 
    font-family: "Golos Text";
   }
.btn:hover { background-color: gray; }
ul.summary {
    font-family: "Golos Text";
    color: black;
}
/* golos-text-regular - cyrillic */
@font-face {
    font-display: swap;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    src: local(''), 
    url('../fonts/golos-text-v4-cyrillic-regular.woff2') format('woff2');
  }
/* balsamiq-sans-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Balsamiq Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/balsamiq-sans-v14-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* jura-regular - cyrillic-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/jura-v31-cyrillic-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }